.job-details-containe {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: red;
}

.job-details-section {
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
    border-radius: 8px;
    padding: 30px;
}