.btn-applied{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
}
.btn-applied:hover{
    background: linear-gradient(90deg, #e97efe 0%, #ff73fa 100%);
}
.appliedjobs{
    width: 100%;
    height: 150px;
    background-image: url('/src/assets/AllImages/Vector.png');
    background-repeat: no-repeat;
}